:root {
  --font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
  padding: 0%;
  margin: 0%;
  font-family: 'Times New Roman', Times, serif;

}

body {
  font-family: var(--font-family);
  background-color: rgb(249, 247, 247);
  color: antiquewhite;
}

.calc-display {
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: right;
  border: 1px solid rgb(142, 135, 135);
  overflow: auto;
  width: 34vh;
  margin: 1vh;
  font-size: medium;
  border-radius: 10px;
}

p {
  padding: 1vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 53, 53);
  flex-direction: column;
  color: rgb(255, 255, 255);
  margin-top: 20vh;
  margin-left: 70vh;
  width: 36vh;
  height: fit-content;
  padding: 1vh;
  border-radius: 10px;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  height: 6vh;
  width: 10vh;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #cfcfcf;
  color: rgb(7, 7, 7);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1vh;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
